<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- IE 兼容模式-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>有工程</title>
    <link href="../../lib/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../lib/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../../lib/assets/css/ace-fonts.css" />
    <link rel="stylesheet" href="../../lib/assets/css/ace.min.css" />
    <link rel="stylesheet" href="../../lib/assets/css/chosen.css" />
    <link rel="stylesheet" href="../../lib/assets/css/ace-rtl.min.css" />
    <!--[if lt IE 9]>
    <script src="../../lib/assets/js/html5shiv.js"></script>
    <script src="../../lib/assets/js/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="../../lib/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/css/main.css"/>

</head>
<body class="bg-white">
<div class="header-bg">
    <div class="container">
        <div class="navbar-container  clearfix  p-r0" id="navbar-container">
            <div class="navbar-header pull-left mainchose flex">
                <div class="logo lf line-height-100">
                    <div class="dib vux-1px-r">
                        <!--<img src="lib/img/logo.png" alt="">-->
                    </div>
                    <span class="font-102 color-white">终端智慧运营大数据平台</span>
                </div>
                <div class="lf m-l"></div>
            </div><!-- /.navbar-header -->

            <div class="navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav header-nav">
                    <li class="layui-nav-item " id="">
                        <a data-toggle="dropdown" class="dropdown-toggle p-lr" id="" href="#">
                            <span>地包商A</span>
                        </a>
                    </li>
                    <li class="layui-nav-item " id="">
                        <a data-toggle="dropdown" class="dropdown-toggle p-lr" id="" href="#">
                            <i class="icon-envelope icon-animated-vertical"></i>
                            <span>信息</span>
                        </a>
                    </li>
                    <li class="layui-nav-item " id="">
                        <a data-toggle="dropdown" class="dropdown-toggle p-lr" id="" href="#">

                            <span>退出</span>
                        </a>
                    </li>
                </ul><!-- /.ace-nav -->
            </div><!-- /.navbar-header -->
        </div>
    </div>

</div>
<div class="bg-white m-tb overflow-hidden">
    <div class="container">
        <!--导航-->
        <div class="nav-list font-1 p-tb">
            <div class="pull-left">
                <i class=" icon-bar color-blue"></i>
                全部导航
            </div>
            <ul class="pull-right">
                <li class="p-lr dib"><a href="#" class="font-1">终端操作</a></li>
                <li class="p-lr dib"><a href="#" class="font-1">运营视图</a></li>
                <li class="p-lr dib"><a href="#" class="font-1">资源管理</a></li>
                <li class="p-lr dib"><a href="#" class="font-1">权限管理</a></li>
                <li class="p-l dib"><a href="#" class="font-1">统计分析</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="breadcrumbs" id="breadcrumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="#" class="color-black">首页</a>
            </li>

            <li class="active color-blue">终端操盘</li>
        </ul>
    </div>
</div>
<div class="main-container">
    <div class="container">
        <!--前置条件-->
        <div class="pre-condition m-t2">
            <div class="title-small vux-1px-b flex">
                <div class="p-lr font-1 p-tb02">数据录入</div>
            </div>
            <div class="m-tb flex">
                <div class="pre-item dib vux-1px flex">
                    <div class="p-lr p-tb05 dib m-b0 bg-head color-black text-nowrap">品牌</div>
                    <div class="ub-f1 flex select-drop ub-pre">
                        <div class="ub-f1 p-lr text-overflow p-tb05 select-text">平平</div>
                        <div class="p-lr05 "><i class="icon-angle-down font-102"></i></div>
                        <div class=" ub-pab select-box vux-1px w100 hide">
                            <div class="p-lr p-tb05 font-1 select-group">授课计划1</div>
                            <div class="p-lr p-tb05 font-1 select-group">授课计划2</div>
                            <div class="p-lr p-tb05 font-1 select-group">授课计划3</div>
                        </div>
                    </div>
                </div>
                <div class="pre-item dib vux-1px flex">
                    <div class="p-lr p-tb05 dib m-b0 bg-head color-black text-nowrap">机型</div>
                    <div class="ub-f1 flex select-drop ub-pre">
                        <div class="ub-f1 p-lr text-overflow p-tb05 select-text">平平</div>
                        <div class="p-lr05 "><i class="icon-angle-down font-102"></i></div>
                        <div class=" ub-pab select-box vux-1px w100 hide">
                            <div class="p-lr p-tb05 font-1 select-group">授课计划1</div>
                            <div class="p-lr p-tb05 font-1 select-group">授课计划2</div>
                            <div class="p-lr p-tb05 font-1 select-group">授课计划3</div>
                        </div>
                    </div>
                </div>
                <div class="pre-item dib vux-1px flex">
                    <div class="p-lr p-tb05 dib m-b0 bg-head color-black text-nowrap">区域</div>
                    <div class="ub-f1 flex select-drop ub-pre">
                        <div class="ub-f1 p-lr text-overflow p-tb05 select-text">平平</div>
                        <div class="p-lr05 "><i class="icon-angle-down font-102"></i></div>
                        <div class=" ub-pab select-box vux-1px w100 hide">
                            <div class="p-lr p-tb05 font-1 select-group">授课计划1</div>
                            <div class="p-lr p-tb05 font-1 select-group">授课计划2</div>
                            <div class="p-lr p-tb05 font-1 select-group">授课计划3</div>
                        </div>
                    </div>
                </div>
                <div class="pre-item dib vux-1px flex">
                    <div class="p-lr p-tb05 dib m-b0 bg-head color-black text-nowrap">日均销量</div>
                    <div class="ub-f1 flex  ub-pre">
                        <div class="ub-f1 p-lr text-overflow  select-text">
                            <input type="text" class="no-border">
                        </div>
                        <div class="p-lr05 ">台</div>
                    </div>
                </div>
                <div class="pre-item dib vux-1px flex">
                    <div class="p-lr p-tb05 dib m-b0 bg-head color-black text-nowrap">限制渠道数</div>
                    <div class="ub-f1 flex  ub-pre">
                        <div class="ub-f1 p-lr text-overflow  select-text">
                            <input type="text" class="no-border">
                        </div>
                        <div class="p-lr05">台</div>
                    </div>
                </div>
                <div class="pre-item dib vux-1px flex">
                    <div class="p-lr p-tb05 dib m-b0 bg-head color-black text-nowrap">销量</div>
                    <div class="ub-f1 flex select-drop ub-pre">
                        <div class="ub-f1 p-lr text-overflow p-tb05 select-text">销量提升</div>
                        <div class="p-lr05 "><i class="icon-angle-down font-102"></i></div>
                        <div class=" ub-pab select-box vux-1px w100 hide">
                            <div class="p-lr p-tb05 font-1 select-group">销量提升</div>
                            <div class="p-lr p-tb05 font-1 select-group">新品操盘</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<div class="modals  hide safeSet">
    <div class="modals-dilog uba05 modals-set" style="left: 10%">
        <div class="modals-content m-b">
            <div class="modals-head flex  p-lr vux-1px-b">
                <span class="ub-f1">设置</span>
                <div class=" closeModals p-l ">&times;</div>
            </div>
            <div class="modals-body maxheight p-lr" style="min-height: 200px">
                <div class="vux-1px-b p-tb05 flex">
                    <div class="ub-f1">清空所有聊天记录</div>
                    <div class="color-red p-lr02 p-tb02" id="clearRecode">清空</div>
                </div>
            </div>
        </div>
        <div class="modals-footer ub-pab b0 w100 p-tb05 p-lr bg-head text-right uba05">

        </div>
    </div>
</div>
<script type="text/javascript">
    window.jQuery || document.write("<script src='../../lib/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
</script>
<script src="../../lib/assets/js/bootstrap.min.js"></script>
<script src="../../lib/assets/js/typeahead-bs2.min.js"></script>
<script src="../../lib/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="../../lib/assets/js/jquery.validate.min.js"></script>
<script src="../../lib/assets/js/chosen.jquery.min.js"></script>
<script src="../../lib/assets/js/ace-elements.min.js"></script>
<script src="../../lib/assets/js/ace.min.js"></script>

<script>
    $(document).on('click','.select-drop',function(){
        $(this).find('.select-box').removeClass('hide')
    })
    $(document).on('click','.select-box .select-group',function(e){
        e.stopPropagation()
        e.preventDefault()
        var selecthtml=$(this).html()
        $(this).parent().siblings('.select-text').html(selecthtml)
        $(this).parent().addClass('hide')
    })

</script>


</body>
</html>